@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a generic description for a school website. We have lots to offer, from dedicated teachers committed to educating America's next generation.</p>
<p>Don't delay; Enroll today!</p>
