@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 School Lane<br />
    Houston, TX 12345-6789<br />
    <abbr title="Phone">Phone:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@School.com">Support@School.com</a><br />
</address>