@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A School Web Application</h1>
    <h2>By Alessandro Heres and Kent Nguyen</h2>
    <p class="lead">This is an example of a school application, made as a project for COSC4358 at the University of Houston, Fall 2018.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h5>
            Your education is our #1 priority at school, do not hesitate to get in contact with us if you or someone you know wishes to enroll.
        </h5>
        <h5>
            View Contact information for more details, via the navigation bar on top of the screen.
        </h5>
        <h5>
            For any other questions, you email either of the administrators:
        </h5>
    </div>

    <div class="col-md-offset-6">
        <div class="row justify-content-center">
            <div class="card mr-2" style="width: 12rem;">
                <img class="card-img-top" src="~/images/user2.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alessandro Heres</h5>
                    <p class="card-text">alex_hrs@yahoo.com</p>
                </div>
            </div>
            <div class="card mr-2" style="width: 12rem;">
                <img class="card-img-top" src="~/images/user3.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kent Nguyen</h5>
                    <p class="card-text">kentnguyen2@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

</div>
